version: '2'
services:
  web:
    build:
      context: ./
      dockerfile: web.dockerfile
    volumes:
      - ./html:/var/www/html
      - ./dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem
      - /docker-volumes/etc/letsencrypt/live/khan.my.id/fullchain.pem:/etc/letsencrypt/live/khan.my.id/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/khan.my.id/privkey.pem:/etc/letsencrypt/live/khan.my.id/privkey.pem
    ports:
      - "80:80"
      - "443:443"
    links:
      - app
  
  app:
    build:
      context: ./
      dockerfile: app.dockerfile
    volumes:
      - ./html:/var/www/html
    links:
      - database
    environment:
      - "DB_PORT=3306"
      - "DB_HOST=database"
  
  database:
    image: mysql:5.6
    environment:
        MYSQL_ROOT_PASSWORD: secret
        MYSQL_DATABASE: zenwel-api
    ports:
        - "33061:3306"
    volumes:
      - ./docker/mysql:/var/lib/mysql

  cache:
    image: redis:3.0
    ports: 
      - "63791:6379"